<!-- Fixed navbar -->
 <nav class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
     <div class="navbar-header">
	   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	     <span class="sr-only">Toggle navigation</span>
		 <span class="icon-bar"></span>
		 <span class="icon-bar"></span>
		 <span class="icon-bar"></span>
		</button>
	   <a class="navbar-brand" href="index.html">{{ site.title }}</a>
	 </div>
	 <div id="navbar" class="navbar-collapse collapse">
	   <ul class="nav navbar-nav">
		{% for item in site.menus[page.menu] %} 
		 <li {% if item.url == page.url %}class="active"{% endif %}>
		       <a href="{{ item.url }}">
			       {{ item.title }}
			   </a>
		 </li>
		 {% endfor %}
		</ul>
	 </div>
   </div>
 </nav>
