<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div class="container theme-showcase" role="main">
	<div class='post'>
	<h1>{{ page.title }}</h1>
	<div class='date'>posted {{ page.date }} by {{ page.author }}</div>
	<div class='body'>{{ content }}</div>
	</div>
	</div>
	{% include footer.html %}
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>

